.menu-bar {
    position: fixed;
    height: 100%;
    width: 90%;
    max-width: 320px;
    margin: 0;
    padding: 1em;
    background: #f0f0f0;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out;
    z-index: 1;
}